.table-container {
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 80%;
    margin: 20px;
    border-collapse: collapse;
    border-spacing: 0;
}

.table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #ddd;
}

.rc-table {
    border-collapse: collapse;
    width: 100%;
}

.rc-table thead th {
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.rc-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.rc-table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.rc-table tbody td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.tableContainerDiv {
    overflow: auto;
    margin: 20px;
}